@use "../abstracts/variables" as var;
@use "sass:math";

.about-us {
  .about {
    margin-block: 40px;
  
    h2 {
      margin-bottom: 20px;
      font-size: calc(var.$font-size-heading-big * 2);
    }
  }

  .about-img {
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}
